html {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
/*color: #E0E0E0;*/
body {background-color: black; color: #E0E0E0; letter-spacing: 0.06em; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; font-family: "sans-serif"; }
.centeredColumn { display: flex; align-items: center; justify-content: start;  flex-direction: column;  }
.btn {background-color: #04AA6D !important; color:#F0F0F0; border-radius: 5px; font-size: 16px; font-weight: bold; padding: 2px 12px; border:none; display:inline-block;vertical-align:middle;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;}

.btn:disabled,
.btn[disabled]
{
  background-color: #cccccc;
  color: #666666;
  cursor:revert;
}

#gameList
{
    display: grid;
    width: 50%;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns: repeat( auto-fill, minmax(80px, 1fr) );
    white-space: nowrap;
}

.aGame
{
    overflow-wrap: break-word;
    overflow: hidden;
}

.gameIcon
{
    width: 80px;
    height: 80px;
}

.gameTitle
{
    display: block;
    font-size: 0.9em;
}

.selectGame .aGame
{
    border: none;
}

.selectGame .btn
{
    width: 100%;
}

#controlPannel
{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: solid 1px #04AA6D
}

#itemCount
{
    display: block;
    text-align: center;
    height: 1em;
    font-size: 1.6em;
}

#checkoutLink
{
    margin-left: auto;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-weight: bold;
    color: #04AA6D;
    font-size: 1.2em;
}
